*
{
margin:0;
padding:0;
box-sizing:border-box;
}
.container
{
	width:80%;
	min-height:100px;
	/* backgrounds-color:pink; */
	background-image:url("doctor2.jpg");
	/* opacity:0.5; */
	margin:auto;
}
.header
{
	width:100%;
	height:500px;
	background-image:url(sparrow.jpg);
	background-size:100% 100%;
	/* border :1px solid red; */
	
	
}
.menu

{
	list-style-type:none;
	display:flex;
	justify-content:end;
	padding:5px;
	
	
	
}
.menu li
{
	display:inline;
	padding:5px;
	
	
	
}
 
.content 
{
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top:60px;
	flex-direction:column;
	
}
button{
	height:30px;
	width:100px;
	color:white;
	background-color:red;
	border-radius:20px;;
	
}

.header2
{
	width:80%;
	height:500px;
	margin:auto;
	background-image:url(../image/burger.jpg);
	background-size:100% 100%;
	display:flex;
	justify-content:center;
	padding:150px; 
	opacity:0.8;
	
}
 .header2 i
{
	font-size:50px;
	display:inline;
	padding:40px;
	
}
.header2 .icon1 h5
{
	
	text-align:center;
	font-size:15px;
	color:white;
	
}
.header2 .icon1 p
{
	
	text-align:center;
	font-size:10px;
	color:white;
	
}
.header2 .icon2 h5
{
	
	text-align:center;
	font-size:15px;
	color:white;
	
}
.header2 .icon2 p
{
	
	 text-align:center; 
	 font-size:10px; 
	color:white;
	
}
.header2 .icon3 h5
{
	
	text-align:center;
	font-size:15px;
	color:white;
	
}
.header2 .icon3 p
{
	
	text-align:center;
	font-size:10px;
	color:white;
	
}
.header2 .icon4 h5 
{
	
	
	font-size:15px;
	text-align:center;
	color:white;
	
}
.header2 .icon4 p
{
	
	text-align:center;
	font-size:10px;
	color:white;
	
}
.header2 .icon1 button
{
color:white;
background-color:black;
border-color:red;
margin:10px;
	
}
.header2 .icon2 button
{
color:white;
background-color:black;
border-color:red;
margin:10px;
	
}
.header2 .icon3 button
{
color:white;
background-color:black;
border-color:red;
margin:10px;
	
}
.header2 .icon4 button
{
color:white;
background-color:black;
border-color:red;
margin:10px;
	
}
.footer
{
	width:80%;
	margin:auto;
	height:100px;
	background-color:pink;
	display:flex;
}
.footer .footer1
{
	width:40%;
	min-height:100px;
	background-color:blue;
}
.footer .footer2
{
	width:100%;
	min-height:100px;
	background-image:url(../image/sparrow.jpg);
	margin:auto;
	background-size:100% 100%;
	
}